<div class="container" ng-controller="loginController">
  <h2>Login: View your accounts</h2>
  <p></p>
  <form>
  <div style="color:red;" ng-bind="error"></div>
    <div class="form-group">
      <label for="usr">Username:</label>
      <input type="text" class="form-control" id="usr" ng-model="login.userName">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" ng-model="login.password">
    </div>
     <div class="form-group">
      <label for="RegId">Registration Id:</label>
      <input type="text" class="form-control" id="reg" ng-model="login.registrationId">
    </div>
	<button type="submit" class="btn btn-default" ng-click="loginAuthentication()">Submit</button>
	<div>
	</div>
  </form>
</div>
