<html lang="en">
 <meta charset="utf-8"></meta>
  <meta ></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css"></link>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.0/angular-material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.js"></script>
  
   <!-- custom style class -->
  <link rel="stylesheet" href="css/style.css"></link>
  
  <!-- controllers and routing -->
  <script src="js/app.js"></script> 
<head>
  <title>A Bank Login</title>
  <meta charset="utf-8">
</head>
<body>
	<div ng-app="">
	<div class="container text-center" ng-controller="securedportalController">  
	<img src="../images/GK.png" class="img-rounded" alt="Cinque Terre" width="60%" height="auto">
    <h3>Welcome</h3>
	<h1>Global Kinetic®</h1>	
	<br><br>
	<h3>JWT Token after Parsing</h3>
	<br>
	{{jwtJson}}
	<br>
	<label>Transaction Id:</label>{{transID}}<br>
	<label>Portal URL:</label>{{portalUrl}}<br>
	</div>
	</div>
</body>

</html>





