<!DOCTYPE html>
<html lang="en">
<head>
  <title>A Bank Login</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.0/angular-material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.js"></script>
  
   <!-- custom style class -->
  <link rel="stylesheet" href="css/style.css"></link>
  
  <!-- controllers and routing -->
  <script src="js/app.js"></script>
   
</head>
<body ng-app="BankMockApp" id="loginPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="">A Bank</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">Home</a></li>
        <li><a href="">Info</a></li>
        <li><a href="">Faq</a></li>
        <li><a href="">Contact</a></li>
        <li><a href=""><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>
    </div>
  </div>
</nav>

<ng-form name="selfRegistrationForm"
	ng-controller="selfEnrollmentController" novalidate>

<div class="container" >
	<h2 style="margin-left: 0px;">Enroll with OnlyID</h2>

	<div style="color: red;" ng-bind="errorMes"></div>	
	
	
	<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="panel panel-primary">
						<div class="panel-heading clearfix">
							<h3 class="panel-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Personal Details</h3>
						</div>

						<div class="panel-body">
							<div class="panel-body">

								<div class="form-group">
									<label class="col-md-2 col-xs-12 control-label" for="firstName"><span style="color: #dd0000;">*&nbsp;</span>Name:</label>
									<div class="col-md-20">
										<div class="row">
											<div class="col-md-3 col-xs-3">
												<input title="First Name" id="firstName" name="firstName" class="form-control" ng-model="selfRegistrationForm.fName" required ng-pattern="fName_regex" type="text" maxlength="20" placeholder="First Name" autocomplete="off" >
												<span style="color: red" ng-show="selfRegistrationForm.firstName.$invalid">
													<span ng-show="selfRegistrationForm.$submitted && selfRegistrationForm.firstName.$error.required">
														First Name is required</span>
													<span ng-show="selfRegistrationForm.$submitted && !selfRegistrationForm.firstName.$error.required">Invalid First Name</span>
												</span>
											</div>
											<div class="col-md-3 col-xs-3">
												<input title="Middle Name" type="text" class="form-control" maxlength="20" id="middleName" name="middleName" ng-pattern="fName_regex" ng-model="selfRegistrationForm.mName" placeholder="Middle Name" autocomplete="off" >
												<span style="color: red" ng-show="selfRegistrationForm.middleName.$invalid">
												   <span ng-show="selfRegistrationForm.$submitted && !selfRegistrationForm.middleName.$error.required">Invalid Middle Name</span>
												</span>
											</div>
											<div class="col-md-3 col-xs-3">
												<input title="Last Name" type="text" class="form-control" maxlength="30" id="lastName" name="lastName" ng-model="selfRegistrationForm.lName" required ng-pattern="lName_regex" placeholder="Last Name" autocomplete="off" >
												<span style="color: red" ng-show="selfRegistrationForm.lastName.$invalid">
													<span ng-show="selfRegistrationForm.$submitted && selfRegistrationForm.lastName.$error.required">Last Name is required</span> 
													<span ng-show="selfRegistrationForm.$submitted && !selfRegistrationForm.lastName.$error.required">Invalid Last Name</span>
												</span>
											</div>


										</div>
									</div>
								</div>


						








								<div class="form-group">
									<label class="col-md-2 col-xs-12 control-label" for="ssn">&nbsp;&nbsp;&nbsp;SSN:</label>
									<div class="col-md-20">
										<div class="row">
											<div class="col-md-4 col-xs-4" >
												<input title="ssn" id="ssn" name="ssn" type="password" class="form-control" placeholder="SSN" maxlength="9" ng-model="selfRegistrationForm.govtNbr" ng-pattern="ssn_regex" >
												<span style="color: red" ng-show="selfRegistrationForm.ssn.$invalid">
													<span ng-show="selfRegistrationForm.$submitted && !selfRegistrationForm.ssn.$error.required">Invalid SSN</span>
										        </span>
											</div>
										</div>
										
									</div>
								</div>
									
								
						</div>
			</div>
		</div>
	
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="panel panel-primary">
						<div class="panel-heading clearfix">
							<h3 class="panel-title"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Address Details</h3>
						</div>

						<div class="panel-body">

								<div class="form-group">
									<label class="col-md-2 col-xs-12 control-label" for="address1"><span style="color: #dd0000;">*&nbsp;</span>Address Line 1:</label>
									<div class="col-md-20">
										<div class="row">
											<div class="col-md-8 col-xs-12">
												<input title="Address Line 1" id="address1" name="address1" ng-model="selfRegistrationForm.addressLine1" class="form-control" type="text" placeholder="Address Line 1" maxlength="99" required ng-pattern="address_regex" autocomplete="off">
												<span style="color: red" ng-show="selfRegistrationForm.address1.$invalid">
													<span ng-show="selfRegistrationForm.$submitted && selfRegistrationForm.address1.$error.required">Address Line 1 is required</span> 
													<span ng-show="selfRegistrationForm.$submitted && !selfRegistrationForm.address1.$error.required">Invalid Address Line 1</span>
												</span>
											</div>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-2 col-xs-12 control-label" for="address2">&nbsp;&nbsp;&nbsp;Address Line 2:</label>
									<div class="col-md-20">
										<div class="row">
											<div class="col-md-8 col-xs-12">
												<input title="Address Line 2" id="address2" class="form-control" type="text" name="address2" ng-model="selfRegistrationForm.addressLine2" ng-pattern="address_regex" placeholder="Address Line 2" maxlength="99" autocomplete="off">
												<span style="color: red" ng-show="selfRegistrationForm.address2.$invalid">
													<span ng-show="selfRegistrationForm.$submitted && !selfRegistrationForm.address2.$error.required">Invalid Address Line 2</span>
												</span>
											</div>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-2 col-xs-12 control-label" for="ct"><span style="color: #dd0000;">*&nbsp;</span>City:</label>
									<div class="col-md-20">
										<div class="row">
											<div class="col-md-8 col-xs-6">
												<input title="City" id="ct" class="form-control" type="text" name="ct" placeholder="City" ng-model="selfRegistrationForm.city" required ng-pattern="city_regex" maxlength="30" autocomplete="off">
												<span style="color: red" ng-show="selfRegistrationForm.ct.$invalid">
													<span ng-show="selfRegistrationForm.$submitted && selfRegistrationForm.ct.$error.required">City is required</span> 
													<span ng-show="selfRegistrationForm.$submitted && !selfRegistrationForm.ct.$error.required">Invalid City</span>
												</span>
											</div>
										</div>
									</div>
								</div>
								
								
								
								
								<div class="form-group">
									<label class="col-md-2 col-xs-12 control-label" for="stateCd"><span style="color: #dd0000;">*&nbsp;</span>State:</label>
									<div class="col-md-20">
										<div class="row">
										<div class="col-md-3 col-xs-4">
											<div style="width: inherit" class="input-group-btn select" >

												<select title="State" style="color: white; background-color: #337ab7; font-weight: bold" id="stateCd" name="stateCd" class="form-control" required ng-pattern="state_regex" ng-model="selfRegistrationForm.state" >
													<option selected style="display: none;" value="">---Select a State---</option>
													<option value="AK">Alaska</option>
													<option value="AL">Alabama</option>
													<option value="AR">Arkansas</option>
													<option value="AZ">Arizona</option>
													<option value="CA">California</option>
													<option value="CO">Colorado</option>
													<option value="CT">Connecticut</option>
													<option value="DC">District of Columbia</option>
													<option value="DE">Delaware</option>
													<option value="FL">Florida</option>
													<option value="GA">Georgia</option>
													<option value="GU">Guam</option>
													<option value="HI">Hawaii</option>
													<option value="IA">Iowa</option>
													<option value="ID">Idaho</option>
													<option value="IL">Illinois</option>
													<option value="IN">Indiana</option>
													<option value="KS">Kansas</option>
													<option value="KY">Kentucky</option>
													<option value="LA">Louisiana</option>
													<option value="MA">Massachusetts</option>
													<option value="MD">Maryland</option>
													<option value="ME">Maine</option>
													<option value="MI">Michigan</option>
													<option value="MN">Minnesota</option>
													<option value="MO">Missouri</option>
													<option value="MS">Mississippi</option>
													<option value="MT">Montana</option>
													<option value="NC">North Carolina</option>
													<option value="ND">North Dakota</option>
													<option value="NE">Nebraska</option>
													<option value="NH">New Hampshire</option>
													<option value="NJ">New Jersey</option>
													<option value="NM">New Mexico</option>
													<option value="NV">Nevada</option>
													<option value="NY">New York</option>
													<option value="OH">Ohio</option>
													<option value="OK">Oklahoma</option>
													<option value="OR">Oregon</option>
													<option value="PA">Pennsylvania</option>
													<option value="PR">Puerto Rico</option>
													<option value="RI">Rhode Island</option>
													<option value="SC">South Carolina</option>
													<option value="SD">South Dakota</option>
													<option value="TN">Tennessee</option>
													<option value="TX">Texas</option>
													<option value="UT">Utah</option>
													<option value="VA">Virginia</option>
													<option value="VI">Virgin Islands</option>
													<option value="VT">Vermont</option>
													<option value="WA">Washington</option>
													<option value="WI">Wisconsin</option>
													<option value="WV">West Virginia</option>
													<option value="WY">Wyoming</option>
												</select>
												
											</div>
												<span style="color: red" ng-show="selfRegistrationForm.stateCd.$invalid">
													<span ng-show="selfRegistrationForm.$submitted && selfRegistrationForm.stateCd.$error.required">State is required</span> 
													<span ng-show="selfRegistrationForm.$submitted && !selfRegistrationForm.stateCd.$error.required">Invalid State</span>
												</span>
											</div>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-2 col-xs-12 control-label" for="zip1"><span style="color: #dd0000;">*&nbsp;</span>Postal Code + 4:</label>
									<div class="col-md-20">
										<div class="row">
											<div class="col-md-1 col-xs-1" style=" width:10.5%">
												<input title="zip1" id="zip1" type="text" class="form-control" placeholder="xxxxx" name="zip1" maxlength="5" autocomplete="off" ng-pattern="zip_regex5" ng-model="selfRegistrationForm.zipCode5" required >
											</div>
											<div class="col-md-1 col-xs-1" style="text-align: center; color: #337ab7; font-size: 120%; width: 1%;padding-right:0px;padding-left:0px">-</div>
											<div class="col-md-1 col-xs-1" style=" width:9.5%">
												<input title="zip2" type="text" class="form-control" placeholder="xxxx" name="zip2" maxlength="4" autocomplete="off" ng-model="selfRegistrationForm.zipCode4" ng-pattern="zip_regex4" >
											</div>
											<span style="color: red" ng-show="selfRegistrationForm.zip1.$invalid || selfRegistrationForm.zip2.$invalid">
												<span ng-show="selfRegistrationForm.$submitted && selfRegistrationForm.zip1.$error.required">Postal Code is required</span> 
												<span ng-show="selfRegistrationForm.$submitted && !selfRegistrationForm.zip1.$error.required">Invalid Postal Code</span>
											</span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 col-xs-12 control-label" for="cntry">&nbsp;&nbsp;&nbsp;Country Code:</label>
									<div class="col-md-20">
										<div class="row">
											<div class="col-md-2 col-xs-2">
												<input title="Country" id="cntry" class="form-control" type="text" name="cntry" placeholder="Country Code" ng-model="selfRegistrationForm.country" required ng-pattern="state_regex" maxlength="2" autocomplete="off" ng-init="selfRegistrationForm.country ='US'">
												<span style="color: red" ng-show="selfRegistrationForm.cntry.$invalid">
													<span ng-show="selfRegistrationForm.$submitted && !selfRegistrationForm.cntry.$error.required">Invalid Country Code</span>
												</span>
											</div>
										</div>
									</div>
								</div>


						</div>
					</div>
				</div>
	
	
	
	

	
	<div class="col-md-12 col-sm-12 col-xs-12">
		<button type="submit" class="btn btn-default" ng-click="registration(selfRegistrationForm)" >Enroll</button>
	</div>
</div>
<form style="visibility: hidden;" name="redirectselfRegistrationForm">
	<input name="id_token" type="hidden" />
</form>
</ng-form>


<!-- Footer -->
<footer class="text-center">
  <p>A Bank Website. Property of Banking Enterprises™. Member of A Company. All rights reserved.</p> 
</footer>

</body>
</html>
