  
<div class="container" ng-controller="RegistrationController">   
<div style="color:red;" ng-bind="error"></div>
	<div style="display:flex;">
	<div>
	<h2 style="color:darkgreen">Welcome to Mock Bank </h2>
	<div>
	<img src="../images/Bank.jpeg" class="img-rounded" alt="Cinque Terre" width="40%" height="30%" >
	</div>
	<p style="color:darkgreen">Final Response : </p>
	<div ng-bind="results">  </div>
	</div>
</div>
</div>



